html {
	background: gray;
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;	
}

h1 {
	margin:0;
	padding:0;	
}

#appContainer {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

#contentsContainer {
	height: 95%;
	width: 100%;
	position: relative;
	top:0;
}

header[role='banner'] {
	width: 100%;
	/*padding:0.25em 0;*/
	height:48px;
	margin:0;
	background-color: black;
	color: #aaaaaa;
	text-align: center;
}

.stateIcon {
	float: left;
}

.iconHolder {
	height: 48px;
	width: 48px;
	background-color: white;
	border-radius: 100%;
	padding:0;
}

.iconHolder .icon {
	padding:0;
}

.md-48 {
	font-size: 48px !important;
}

header[role='banner'] h1 {
	padding:0.22em 0;
}

.searchMapContainer {
	max-width: 100%;
	height: 100%;
	text-align: center;
}

.listItem {
	height: 300px;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}

.listItem h2 {
	height: 2em;
	background: black;
	width: 100%;
	color: white;
}

.rgba .listItem .address {
	background-color: rgba(200, 200, 200, 0.5);
}

.listItem .address {
	background-color: #aaaaaa;
}

.listItem img {
	max-height: 96%;
	position: absolute;
	top:2em;
	z-index: -1;
}